body{
	background-color: gray;
}
.red{
	color:red;
}
.blue {
	color:blue;
}
.yellow{
	color:yellow;
}
.black{
	color:black;
}
.purple{
	color: purple;
}
.green{
	color: green;
}
.orange{
	color:orange;
}

